# Week 1 handin

#01-Excersice 
## Create 5 list comprehensions to solve the following 5 problems:
![](https://miro.medium.com/max/1266/1*Pb8oEA1nGIONsSJk7QSVzg.png)

In [1]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:asd
Username is: asd

## Status
Here is a status on the handin. How far you got. What is implemented and what is not:

## Ex. 1

# A. Iterate a list of names to return a list of the names starting with H

In [7]:
my_list = list(["Phil", "Sum", "Chris", "Seb", "Luke", "harriot", "henry"])
my_list

['Phil', 'Sum', 'Chris', 'Seb', 'Luke', 'harriot', 'henry']

In [8]:
output_names = [name for name in my_list if (name[0] in "h")]
output_names

['harriot', 'henry']

# B. In one line create a list of the numbers 1-100 to the power of 3

In [4]:

power3 =[number ** 3 for number in list(range(1,101))]
power3

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

#  C. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

In [9]:
name_list = (["Phil", "Sum", "Chris", "Seb", "Luke", "harriot", "henry"])
name_list

['Phil', 'Sum', 'Chris', 'Seb', 'Luke', 'harriot', 'henry']

In [32]:
tuples_list = [(len(name), name) for name in name_list]
tuples_list

[(4, 'Phil'),
 (3, 'Sum'),
 (5, 'Chris'),
 (3, 'Seb'),
 (4, 'Luke'),
 (7, 'harriot'),
 (5, 'henry')]

# D. Iterate over each character in a string and get only those that are nummeric

In [51]:
name_list2 = (["Phil", "Sum1", "Chris", "Seb", "Luk2e", "harriot", "henry"])

myString = input("Enter string: ")

for element in range(0, len(myString)): 
    if myString[element].isnumeric():
        print(myString[element])

Enter string: asd2
2

#  E. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

In [63]:
roll_combinations = {(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)}
roll_combinations

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

# 2. Create 2 dictionary comprehensions to solve the following:

## A.  Iterate a list of names and create a dictionary where key is the name and value is the length of the name

In [73]:
name_list = (["Phil", "Sum", "Chris", "Seb", "Luke", "harriot", "henry"])

name_dict = {}

for name in name_list:
    name_dict.update({name : len(name)})
    
name_dict

{'Phil': 4,
 'Sum': 3,
 'Chris': 5,
 'Seb': 3,
 'Luke': 4,
 'harriot': 7,
 'henry': 5}

# Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

In [75]:
import math

number_list = [1,2,3,4,5,6]

number_dict = {}

for number in number_list:
    number_dict.update({number : math.sqrt(number)})
    
number_dict

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178}